@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
	font-weight: 300;
}

main {
	background: linear-gradient(
		-45deg,
		orangered,
		rgba(220, 200, 220, 0.5),
		rgba(100, 149, 237, 0.35),
		cornflowerblue
	);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	min-height: 100vh;
}

.app-container {
	max-width: 700px;
	margin: 0 auto;
}

.loader_wrapper {
	height: 100vh;
	place-content: center;
}

@keyframes gradient {
	0%,
	100% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

@media (max-width: 601px) {
	main {
		padding: 0 0.5rem;
	}
}
