.filters-section {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-top: 1px solid rgba(204, 204, 204, 0.5);
	margin-top: 0.25rem;
	padding-top: 0.25rem;
	& span,
	button {
		font-size: 0.8em;
	}
	&_counter {
	}
	&_filters {
		display: flex;
		flex-wrap: wrap;
		gap: 0.1rem;
	}
}

@media (max-width: 410px) {
	.filters-section {
		gap: 0.35rem;
		flex-direction: column;
		&_filters {
			width: 100%;
			justify-content: space-between;
			& > button {
				width: 100%;
			}
		}
	}
}
