.todo-input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(204, 204, 204, 0.5);
	margin-bottom: 0.25rem;
	padding-bottom: 0.25rem;
	gap: 0.25rem;
	&_input {
		width: 100%;
		border-radius: 2px;
		font-size: clamp(1rem, 18px, 2rem);
		padding: 0.5rem 1rem;
		outline: none;
		border: 1px solid rgba(204, 204, 204, 0.5);
	}
	&_btn {
		background-color: transparent;
		border: 0;
		font-size: 1.6rem;
		border-radius: 2px;
		padding: 0.25rem 1rem;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&.inert {
			cursor: initial;
		}
	}
}

@media (max-width: 410px) {
	.todo-input {
		&_input {
			padding: 0.25rem;
		}
		&_btn {
			padding: 0 0.75rem;
		}
	}
}

@media (hover: hover) {
	.todo-input_btn:not(.inert):hover {
		color: cornflowerblue;
		background-color: rgba(204, 204, 204, 0.25);
	}
}
